# Your GitHub Username to automatically render your city directly on load
VITE_GITHUB_USERNAME=

# Optional: Personal Access Token (only needed if your profile or repositories are private)
VITE_GITHUB_TOKEN=
